:root {
  --primary-text-color: #757575;
  --secondery-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-while-color: #FFF;
  --secondery-while-color: #2f303a;
}

body {
  background-color: var(--primary-while-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0, 03em;
}

.header {
  width: auto;
  height: 80px;
  background-color: var(--secondery-text-color);
}

.list {
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.3;
  margin: 24px 93px 24px 215px;
}

.logo-second {
  color: #000000;
}

.header,
.header-nav,
.header-nav-menu,
.header-nav-contacts {
  display: flex;
}

.header-nav-menu {
  margin: 32px auto;
}

.header-nav-menu a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
  margin-right: 50px;
}

.header-nav-contacts {
  margin: 32px auto;
}
.header-nav-contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.logo-first,
.header-nav-menu a:hover,
.header-nav-menu a:focus,
.header-nav-contacts a:hover,
.header-nav-contacts a:focus {
  color: var(--accent-color);
}

.hiro-section {
  background-color: var(--secondery-while-color);
  width: 100%;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hiro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondery-text-color);
}

.hiro-button {
  width: 216px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--secondery-text-color);
}

.skills-section,
.team-section,
.work-section,
.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 94px;
}

.team-section,
.work-section {
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.skills-section-list {
  display: flex;
  margin-right: 30px;
  margin-top: 10px;
}

.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.work-section-list {
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.work-section-list a {
  margin-right: 30px;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list li {
  margin-right: 30px;
  background-color: var(--secondery-text-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-list {
display: flex;
justify-content: center;
background-color:var(--primary-while-color);
}
.portfolio-section-button {
  
  
  height: 38px;
  margin-right: 8px;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border-color: #F5F4FA;
  box-shadow: 0;

}
.portfolio-section-button span {
    font-family: ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: var(--title-text-color);

}
.portfolio-section {
}

.portfolio-section-list {
  background-color: var(--secondery-text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 215px;
  margin-right: 215px;
  
}

.portfolio-section-list > li {
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  border-color: #EEEEEE;
  }

.footer {
  background-color: var(--secondery-while-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.3;
  margin-left: 215px;
}

.footer-logo-second {
  color: var(--secondery-text-color);
}

.footer-list {
  padding-left: 215px;
 
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondery-text-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  color: rgba(255, 255, 255, 0.6);
}
