:root {
  --primary-text-color: #757575;
  --secondery-text-color: #ffffff;
  --title-text-color: #212121;
  --primary-white-color: #f5f5f5;
  --secondery-white-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --border-color: #eeeeee;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0, 03em;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--secondery-text-color);
}

.list {
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-margin {
  margin-top: 94px;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-second {
  margin: auto;
  color: #000000;
}

.header,
.header-nav,
.header-nav-menu,
.header-nav-contacts {
  display: flex;
}

.header-nav-menu {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-menu a {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-contacts > li + li,
.header-nav-menu > li + li {
  margin-left: 50px;
}

.header-nav-contacts {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  
}
.header-nav-contacts a {


  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.logo-first,
.header-nav-menu a:hover,
.header-nav-menu a:focus,
.header-nav-contacts a:hover,
.header-nav-contacts a:focus,
.header-nav-menu a.current {
  color: var(--accent-color);
}

.hiro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--accent-background-color);
}

.hiro-title {
  margin-bottom: 30px;

  color: var(--secondery-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}

.hiro-button {
  margin: 0 auto;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--secondery-text-color);

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.team-section,
.work-section,
.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}


.skills-section-list,
.work-section-list,
.team-list {
  display: flex;
}

.skills-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.skills-section-list p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.skills-section-list li + li,
.work-section-list li + li,
.team-list li + li {
  margin-left: 30px;
}

.team-section {
  background-color: var(--third-white-color);
}

.team-list li {
  background-color: var(--secondery-text-color);
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  
}
.team-text {
  margin-bottom: 30px;
  text-align: center;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.button-list {
  display: flex;
  justify-content: center;
  background-color: var(--primary-white-color);
}

.button-list button:hover,
.button-list button:focus {
  background-color: var(--accent-color);
  color: var(--secondery-text-color);
}
.portfolio-section-button {
  height: 38px;
  margin-right: 8px;
  padding: 6px 22px;
  background: var(--third-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--third-white-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-section-list h2 {
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-section-list p {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
}

.portfolio-section-list {
  background-color: var(--secondery-text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 215px;
  margin-right: 215px;
}

.portfolio-section-list li {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
}
.portfolio-section-list img {
  width: 100%;
}

.portfolio-section-list h2,
.portfolio-section-list p {
  margin-left: 24px;
}

.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;

  letter-spacing: 0.03em;
  margin-left: 215px;
}

.footer-logo-second {
  color: var(--secondery-text-color);
}

.footer-list {
  padding-left: 215px;
}
.footer-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
